<div class="header">
  <h1 class="text-center">{{title | uppercase}}</h1>
</div>

<div class="jumbotron"> 
<p class="lead text-center">Enter Gym Code: </p>
  <p class="lead">
    <input class="form-control" type="text" ng-model="code" placeholder="Enter your code here"/>
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="http://www.shareasale.com/r.cfm?u={{code}}&b=590710&m=52841&afftrack=&urllink=gosoundcast%2Ecom">GO</a></p>
</div>


<div class="footer">
  <p>From Abhi the Samurai</p>
</div>
